@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
    height: calc(100vh - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 375px;
    background-color: var(--white);
    border: 1.1rem solid var(--white);
    border-radius: 0.75rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    padding: 0.3rem;
}

.card img {
    max-width: 100%;
    border-radius: 3%;
}

article h1 {
    text-align: center;
    color: var(--dark-blue);
    font-size: 1.7rem;
    font-weight: 700;
    padding: 0.7rem;
}

article p {
    text-align: center;
    color: var(--grayish-blue);
    font-size: 1.15rem;
    font-weight: 400;
    padding: 0.5rem;

}